.to-do-app-container{
    width:70vw;
    height:60vh;
    display:flex;
    flex-direction: column;
    gap:10px;
    background:#DEE6F9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius:50px;
    transition: all ease-in 0.3s;
  }
  .to-do-app-container:hover{
    box-shadow: rgba(197, 187, 187, 0.2) 0px 60px 40px -7px;
  }
  
  .todoapp-header{
    /* background:red; */
    width:100%;
    flex:1;
    border-radius: inherit;
  
  }
  .todoapp-body{
    /* background:green; */
    width:100%;
    flex:4;
    padding:20px;
    border-radius: inherit;
  }
  
  @media screen and (min-width:750px) {
    .to-do-app-container{
      height:80vh;
      width:80vw;
    }
  }